@model Author
<!-- <partial name="_Notification"/> -->

<h1>Delete Author</h1>
<form  method="post">
    <input asp-for="Id" hidden />
    <div class="form-group">
    <label asp-for="Photo">Photo</label>
    <img src="@Model.Photo" style="max-width:250px;width:100%"/>
  </div>
  <div class="form-group">
    <label asp-for="Alias">Alias</label>
    <input asp-for="Alias" disabled/>
    <span asp-validation-for="Alias" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Info">Information</label>
    <input asp-for="Info" disabled/>
    <span asp-validation-for="Info" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
  <a asp-controller="Author" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
