@model BookShop1Asm.ViewModels.BookViewModel.CreateUpdateVM
<head>
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.full.min.js"></script>

</head>

<h1>@(Model.Book.Id==0 ?"Create":"Update") Book</h1>
<form  method="post" enctype="multipart/form-data">
  <input asp-for="Book.Id" hidden />
  <input asp-for="Book.Cover" hidden/>
  <div class="form-group">
    <img src="@Model.Book.Cover" style="max-width:250px;width:100%"/>
  </div>
  <div class="form-group">
    <label asp-for="Book.Name">Title</label>
    <input asp-for="Book.Name" />
    <span asp-validation-for="Book.Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Book.Description">Desc</label>
    <input asp-for="Book.Description" />
    <span asp-validation-for="Book.Description" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Book.Price">Price</label>
    <input asp-for="Book.Price" />
    <span asp-validation-for="Book.Price" class="text-danger"></span>
  </div>
    <div class="form-group">
        <p>Author</p>
        <select id="Au_dropdown" class="form-control select2-multiple" asp-for="AuIDs" asp-items="Model.MyAuthors" multiple="multiple"></select>
    </div>
    <div class="form-group">
        <p>Category</p>
        <select id="Cat_dropdown" class="form-control select2-multiple" asp-for="CatIDs" asp-items="Model.MyCategories" multiple="multiple"></select>
    </div>

    <label asp-for="Book.Cover"></label>
    <input type="file" name="file" class="form-control">
  </div>
  <div class="btn group" role="group">
            @if (Model.Book.Id == 0)
            {
                <button type="submit" class="btn btn-primary">Create</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Update</button>
            }

            <a asp-controller="Book" asp-action="Index" class="btn btn-primary">
                Back to List
            </a>
        </div>
</form>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2-multiple').select2({
                placeholder: "Select options", // This can be any placeholder text
                allowClear: true
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
